extends layout 

block content 
  h1(style='margin-top:20px')= title 
  if author_list.length 
    ul 
      each author in author_list 
        li 
          p #{author.name}
  else 
    p1 Список авторов пуст