extends layout 

block content 

  form(method='POST')
    div.form-group 
      label(for='name') Название:
      input#name.form-control(type="text", placeholder = "Название категории (Смартфоны, Ноутбуки...)" name='name'  required value=(undefined===category) ? '' : category.name)
    button.btn.btn-primary(type='submit') Создать
    
    if errors 
      ul 
        each error in errors 
          li= error.msg
  