extends layout

block content
  h1= title
  p Здесь содержится информация о количестве объектов

  ul 
    li #[strong Количество игр] #{game_count} 
    li #[strong Количество жанров] #{genre_count} 
    li #[strong Количество авторов] #{author_count}
